<link rel="stylesheet" href="/static/pure.css" type="text/css">

<form action="/do_create_item" method="POST" class="pure-form">
    <fieldset class="pure-group">
        <legend>Provide information about yourself</legend>
        <input type="text" class="pure-input-1-2" placeholder="Enter your name" name="name">
        <input type="email" class="pure-input-1-2" placeholder="Enter your email address" name="emailaddress">
        <input type="text" class="pure-input-1-2" placeholder="Provide your cellphone number" name="cellphone">
    </fieldset>

    <fieldset class="pure-group">
        <legend>Minimal information needed for evaluation</legend>
        <input type="text" class="pure-input-1-2" placeholder="Give your idea a name" name="itemname">
        <textarea class="pure-input-1-2" placeholder="Provide a description about your idea" name="itemdescr"></textarea>
    </fieldset>

    <fieldset class="pure-group">
        <legend>Adding answers here increase your chances significantly</legend>
        <textarea class="pure-input-1-2" placeholder="What is the problem this idea solves?" name="item_solves"></textarea>
        <textarea class="pure-input-1-2" placeholder="What result will it bring?" name="item_results"></textarea>
    </fieldset>
    <button type="submit" class="pure-button pure-input-1-2 pure-button-primary">Submit</button>
</form>

