<style>
  #viima-items {
    border: 1px solid black;
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 80%;
  }

  #viima-items td, #viima-items th {
    border: 1px solid black;
    text-align: left;
    padding: 8px;
  }

  #viima-items tr:nth-child(even) {
    background-color: #f2f2f2;
  }

  #viima-items tr:hover {
    background-color: #ddd;
  }
</style>
<h1>Viima ideas</h1>
<table id="viima-items">
        <tr>
            {% for col in colnames %}
            <th>{{ col }}</th>
            {% endfor %}
        </tr>
        {% for record in records %}
        <tr>
            {% for col in colnames %}
            <td>{{ record[col] }}</td>
            {% endfor %}
        </tr>
        {% endfor %}
</table>