<!DOCTYPE html>
<html>
<head>
</head>
<body style="overflow: hidden;" align="center">
<link rel="stylesheet" href="/static/pure.css" type="text/css">

<form action="/do_create_item" method="POST" class="pure-form">
    
    <fieldset class="pure-group">
        <legend><h3>Provide information about yourself</h3></legend>
        <input type="text" class="pure-input-1" placeholder="Enter your name" name="name"required>
        <input type="email" class="pure-input-1" placeholder="Enter your email address" name="emailaddress"required>
        <input type="text" class="pure-input-1" placeholder="Provide your cellphone number" name="cellphone"required>
    </fieldset>

    <fieldset class="pure-group">
        <legend><h3>Bare minimum of details to create a new idea/proposal</h3></legend>
        <input type="text" class="pure-input-1" placeholder="Give your idea a name" name="itemname"required>
        <textarea class="pure-input-1" placeholder="Provide a description about your idea" name="itemdescr" required></textarea>
    </fieldset>

    <fieldset class="pure-group">
        <legend><h3>Adding answers below increase your chances significantly (optional)</h3></legend>
        <textarea class="pure-input-1" placeholder="What is the problem this idea solves?" name="itemsolves"></textarea>
        <textarea class="pure-input-1" placeholder="What result will it bring?" name="itemresults"></textarea>
    </fieldset>
    <br>
    <button id ="myBtn" type="submit" class="pure-button pure-input-1-2 pure-button-primary">Submit</button>
</form>

<script>
   //This is the first load of is valid, just in case the user gets back again with old inputs
   //if all the required inputs are filled enable the button
   var isValid = true;
     $('input,textarea,select').filter('[required]:visible').each(function() {
      if ( $(this).val() === '' )
         isValid = false;
    });
    if( isValid ) {
       $('#myBtn').prop('disabled', false);
    } else {
       $('#myBtn').prop('disabled', true);
    };
    $('#myBtn').click(function() {
        var isValid = true;
         $('input,textarea,select').filter('[required]:visible').each(function() {
          if ( $(this).val() === '' )
             isValid = false;
        });
        if( isValid ) {
           $("/do_create_item")[0].submit(); 
       };

    });
    
    //When a input is changed check all the inputs and if all are filled, enable the button
     $('input,textarea,select').change(function() {
        var isValid = true;
         $('input,textarea,select').filter('[required]:visible').each(function() {
          if ( $(this).val() === '' )
             isValid = false;
        });
        if( isValid ) {
           $('#myBtn').prop('disabled', false);
        } else {
           $('#myBtn').prop('disabled', true);
        };
    });
    
    //In case the user edits the button with firebug and removes disabled, check
    $('#myBtn').click(function() {
         var isValid = true;
         $('input,textarea,select').filter('[required]:visible').each(function() {
          if ( $(this).val() === '' )
             isValid = false;
        });
        if( isValid ) {
           $("/do_create_item")[0].submit(); 
       };
    });

</script>

</body>
</html>